<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Gautam_Kodavala</title>
    <!-- 
Moonlight Template 
https://templatemo.com/tm-512-moonlight
-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/fontAwesome.css">
    <link rel="stylesheet" href="/static/css/light-box.css">
    <link rel="stylesheet" href="/static/css/templatemo-main.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha384-GLhlTQ8iKZPaUFlL0vW43bxKo70Mcl1C6MpALM9CFiPNIYYGJ9g6P1X1d6tPAA" crossorigin="anonymous">

    <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="static/img/Gautam-designstyle-birthday-m.png" alt=""
                style="height: 90px; width: auto; margin-top: 25px;">
        </div>
        <div class="mini-logo">
            <img src="static/img/222044_90e464a68d754199ac37c96bf64b8471~mv2.png" alt="" style="height:30px;">
        </div>
        <ul style="margin-top: 30px;">
            <li><a href="#1"><i class="fa fa-home"></i> <em>Home</em></a></li>
            <li><a href="#2"><i class="fa fa-user"></i> <em>About</em></a></li>
            <li><a href="#3"><i class="fa fa-pencil"></i> <em>experience</em></a></li>
            <!-- <li><a href="#4"><i class="fa fa-image"></i> <em>Work</em></a></li> -->
            <li><a href="#5"><i class="fa fa-envelope"></i> <em>Contact</em></a></li>
        </ul>
    </nav>

    <div class="slides">
        <div class="slide" id="1">
            <div class="content first-content">
                <div class="container-fluid">
                    <div class="col-md-3">
                        <div class="author-image"><img src="static/img/IMG-20230606-WA0002.ico" alt="Author Image">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>Gautam Kodavala</h2>
                        <p>
                            I have recently completed a Bachelor of Computer Applications. I have acquired proficiency
                            in Python, Django, SQL, HTML, CSS, and JavaScript. My passion for coding and unwavering
                            commitment to continuous learning drive my ambition to excel in the field. I am actively
                            seeking opportunities to apply my technical skills and contribute to innovative projects
                            while
                            building a promising career in technology.
                        </p>
                        <div class="main-btn"><a href="#2">Read More</a></div>
                        <div class="fb-btn"><a rel="nofollow" href="static/Gautam_py_.pdf"
                                Download="Gautam_py_.pdf">Download Resume</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="2">
            <div class="content second-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div class="left-content">
                            <h2>About Us</h2>
                            <p>My name is Gautam kodavala. I'm from keshod.I recently completed my graduation in "Bhakta
                                kavi Narshi Mehta University (BKNMU) with a Bachelor of computer application.</p>
                            <p>My technical skills are html and css , javascript , sql , core python as well as Django.
                                After developing my technical skills I have done an ecommerce project which is an
                                "online shopping store". </p>
                            <!-- "online shopping store". <a href="#">Curabitur</a> a interdum diam. Nulla vestibulum
                                porttitor porta.</p> -->
                            <p>Now let me tell you about my experience : I have done a 1 month python internship in
                                "Spark to ideas - Ahmedabad". During my During my internship I also did core python and
                                django. After completing my internship I joined Qspider for software developer training.
                                In this training I developed my skills which are core java , SQL , html & css , .net ,
                                core c#.
                            <p>
                                Let's talk about my hobbies : <br> rock climbing, and playing online games. <br> That's
                                all about me . You can always find me experimenting with new technologies.
                            </p>
                            </p>

                            <br>
                            <br>
                            <h2>Education</h2>
                            <p>
                                <b>Bachelors's in Computer Application - 2020 | 2023</b> <br> The Future Computer
                                Science College - keshod <br> CGPA - 7.69/10
                            </p>
                            <br>
                            <p>
                                <b>Higher Secondary Education - 2019 | 2020</b> <br>Dudabhai Dhanjibhai Ladani (DDL) -
                                keshod <br> PR - 69 %
                            </p>
                            <br>
                            <p>
                                <b>Secondary Education - 2016 | 2017</b> <br> Dudabhai Dhanjibhai Ladani (DDL) - keshod
                                <br> PR - 71 %
                            </p>

                            <div class="main-btn"><a href="#3">Read More</a></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                            <img src="/static/img/about_image.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="3">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-content">
                                                <a href="https://www.sparkstoideas.com/">
                                                    <h2>Python developer Intern :<br>Sparks To Ideas - Ahmedabad</h2>
                                                </a>
                                                <p>During my one-month internship at Sparks To Ideas - IT Training, I
                                                    focused on two key aspects of
                                                    Python development: core Python and Django. I gained a strong
                                                    understanding of fundamental Python concepts and techniques, laying
                                                    a solid groundwork for my programming skills. Moreover, I
                                                    had the opportunity to explore web development using Django, delving
                                                    into its model view controller (MVC) architecture and gaining
                                                    practical experience in building web applications. This
                                                    internship was a valuable and educational experience, broadening my
                                                    Python expertise and introducing me to the dynamic field of Django
                                                    web development</p>
                                                <!-- <div class="main-btn"><a href="#4">Continue Reading</a></div> -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="static/img/sparks_to_ideas_logo.jpeg" alt="first service">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-image">
                                                <img src="static/img/qspider.png" alt="second service">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-content">
                                                <a href="https://www.qspiders.com/">
                                                    <h2>software developer : <br> Qspider - Training Institute</h2>
                                                </a>
                                                <p>
                                                    I had the chance to learn a variety of programming languages and
                                                    technologies throughout my 4
                                                    month training at Qspider, which allowed me to develop useful
                                                    abilities. My primary duties and
                                                    successes were as follows:
                                                </p>
                                                <p>
                                                    Educating the Core Java enabled me to gain solid fundamental
                                                    programming abilities and a
                                                    comprehension of object-oriented programming concepts. gaining
                                                    expertise in SQL will enable me
                                                    to handle databases effectively and construct databases. Developing
                                                    my skills in HTML and CSS has
                                                    given me the ability to design and construct web pages with an
                                                    emphasis on user interface and user
                                                    experience. Learning JavaScript will enable me to produce
                                                    interactive and dynamic web content to
                                                    improve web apps.
                                                </p>
                                                <div class="main-btn"><a href="#4">Continue Reading</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="5">
            <div class="content fifth-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div id="map">
                            <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1307.5183905306926!2d72.51675423181118!3d23.051918267113532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1702375097597!5m2!1sen!2sin"
                                width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form id="contact" action="/" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" name="fname"
                                            placeholder="Your name..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="email" type="email" class="form-control" id="email" name="email"
                                            placeholder="Your email..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="subject" type="text" class="form-control" id="subject"
                                            name="subject" placeholder="Subject..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message"
                                            name="message" placeholder="Your message..." required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Send Now</button>

                                        <div class="social-media" style="padding-top: 25px;">
                                            <a href="https://www.linkedin.com/in/gautam-kodavala-08992223b/"
                                                target="_blank" rel="nofollow"
                                                style="display: inline-block; margin-right: 10px;">
                                                <img src="static/img/linkedin.png" alt="Twitter"
                                                    style="width: 28px; height: 28px;">
                                            </a>
                                            <a href="mailto:kodavlagautam29@gmail.com" target="_blank" rel="nofollow"
                                                style="display: inline-block; margin-right: 10px;">
                                                <img src="static/img/social (1).png" alt="Facebook"
                                                    style="width: 28px; height: 28px;">
                                            </a>
                                            <a href="https://github.com/Gautam-Kodavala" target="_blank" rel="nofollow"
                                                style="display: inline-block; margin-right: 10px;">
                                                <img src="static/img/github.png" alt="Twitter"
                                                    style="width: 28px; height: 28px;">
                                            </a>
                                            <a href="https://t.me/Cupify_Bot" target="_blank" rel="nofollow"
                                                style="display: inline-block; margin-right: 10px;">
                                                <img src="static/img/telegram.png" alt="Facebook"
                                                    style="width: 28px; height: 28px;">
                                            </a>
                                            <a href="https://wa.me/919316998098" target="_blank" rel="nofollow"
                                                style="display: inline-block; margin-right: 10px;">
                                                <img src="static/img/social.png" alt="Twitter"
                                                    style="width: 28px; height: 28px;">
                                            </a>
                                            <a href="https://www.instagram.com/gautam_kodavala_/" target="_blank"
                                                rel="nofollow" style="display: inline-block; margin-right: 10px;">
                                                <img src="static/img/instagram (1).png" alt="Facebook"
                                                    style="width: 28px; height: 28px;">
                                            </a>

                                            <!-- Add more social media links as needed -->
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="content">
            <p>Copyright &copy; 2023<a rel="nofollow" href="#1">Gautam Kodavala</a></p>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="/static/js/vendor/bootstrap.min.js"></script>

    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {



            // navigation click actions 
            $('.scroll-link').on('click', function (event) {
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function (event) {
                event.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, 'slow');
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed) {
            var offSet = 0;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({ scrollTop: targetOffset }, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function () { }
            };
        }
    </script>
</body>

</html>